body{
    background-color: black;
}
div{
    text-align: center;
    padding-top: 50px;
    width: 50%;
    margin-left: 25%;
}

h1{
    color: white;
    text-transform: uppercase;
    font-family: "Libre Baskerville";
}
p{
    color: white;
}
img{
    border: 5px solid white;
    width: 100%;
}