* {
  /* text-align: center; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  /* background-color: chartreuse; */
}

#form-page {
  margin-top: 100px;
  padding: 20px;
}

#username, #password, #button {
  padding: 10px 20px;
  margin-bottom: 10px;
}

#title {
  color: rgb(248, 230, 92);
}

.label {
  color: rgb(255, 89, 0);
}

#main {
  margin: auto;
  background-color: blueviolet;
  max-width: 500px;
  height: 250px;
  border-radius: 10px;
}

#button {
  background-color: rgb(84, 58, 255);
  border-radius: 5px;
  border: none;
  color: white;
}

/* Navbar started */

.nav {
  display: flex;
  text-align: center;
  padding: 20px 40px;
  justify-content: space-between;
  background-color: rgb(80, 80, 105);
  color: white;
  position: fixed;
  left: 20px;
  right: 20px;
  top: 10px;
  z-index: 1;
}

.logo {
}

.nav > div > ul {
  display: flex;
  gap: 20px;
}

li {
  list-style: none;
}

.nav > div > ul > li:hover {
  text-underline-offset: 5px;
  text-decoration: underline;
  cursor: pointer;
}

/* image description section start */

#main-section {
  display: flex;
  position: relative;
}

.image {
  width: 50%;
}

#main-section img {
  width: 100%;
  height: 100%;
}

.description {
  background-color: wheat;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description h3 {
  margin-right: 30px;
  font-size: 50px;
  padding-bottom: 30px;
}

.description li {
  line-height: 30px;
  list-style-type: circle;
  font-size: 20px;
}

/* feedback form start */

#feedback-form{
  position: absolute;
  right: 10px;
  left: 10px;
  top: 400px;
}

#feedback-form form {
  text-align: center;
  background-color: #c8c8c8;
  margin: 0;
  padding: 20px 0;
}

#submit {
  padding: 10px 25px;
  border-radius: 10px;
  border: none;
  background-color: #037ab1;
  color: white;
  cursor: pointer;
}

#submit:hover {
  background: green;
}

#feedback-form input {
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid rgb(152, 152, 152);
}
